@font-face {
  font-family: "Norse Bold";
  src: url("./assets/fonts/Norse-Bold.otf") format("opentype");
}

body {
  border: solid 1px red;
  max-width: 1000px;
  margin: 80px auto;
}

#sign-up-main {
  display: flex;
}

#image-section {
  width: 100%;
  img {
    max-width: 100%;
    height: 100%;
  }
}

form {
  width: 80%;
}

form > div {
  border: solid 1px blue;
  display: inline-block;
}
